body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:163px;
  top:123px;
  width:87px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:285px;
  top:119px;
  width:300px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:176px;
  top:227px;
  width:76px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:287px;
  top:223px;
  width:300px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:283px;
  top:61px;
  width:181px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u79_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u83 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u85 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u87 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u90_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u94 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u94_ann {
  position:absolute;
  left:436px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u96 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u96_ann {
  position:absolute;
  left:661px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u98 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:337px;
  top:307px;
  width:140px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
