body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118 {
  position:absolute;
  left:343px;
  top:135px;
  width:167px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:343px;
  top:206px;
  width:167px;
  height:16px;
}
#u121 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u120_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  position:absolute;
  left:343px;
  top:172px;
  width:167px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:420px;
  top:58px;
  width:268px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:494px;
  top:477px;
  width:140px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u127 {
  position:absolute;
  left:343px;
  top:242px;
  width:454px;
  height:176px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:176px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u129_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u133 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u133_ann {
  position:absolute;
  left:436px;
  top:0px;
  width:1px;
  height:1px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u135 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u135_ann {
  position:absolute;
  left:661px;
  top:0px;
  width:1px;
  height:1px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u137 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:100px;
  top:135px;
  width:100px;
  height:90px;
}
#u140_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u142_img.selected {
}
#u142.selected {
}
#u143 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u144 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u144_img.selected {
}
#u144.selected {
}
#u145 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u146 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u146_img.selected {
}
#u146.selected {
}
#u147 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
