body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1087px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81 {
  position:absolute;
  left:343px;
  top:189px;
  width:167px;
  height:16px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:343px;
  top:260px;
  width:167px;
  height:16px;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:343px;
  top:226px;
  width:167px;
  height:16px;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:947px;
  top:20px;
  width:140px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:189px;
  width:100px;
  height:90px;
}
#u89_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u93 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u95 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:430px;
  top:76px;
  width:268px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:494px;
  top:531px;
  width:140px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u100 {
  position:absolute;
  left:343px;
  top:296px;
  width:454px;
  height:176px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:176px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
