body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u670_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u673 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u674 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u675 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u674_ann {
  position:absolute;
  left:436px;
  top:0px;
  width:1px;
  height:1px;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u676 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u677 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u676_ann {
  position:absolute;
  left:661px;
  top:0px;
  width:1px;
  height:1px;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u678 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:0px;
  top:135px;
  width:100px;
  height:92px;
}
#u681_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:98px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u683_img.selected {
}
#u683.selected {
}
#u684 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u685 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:30px;
}
#u685_img.selected {
}
#u685.selected {
}
#u686 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u687 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:30px;
}
#u687_img.selected {
}
#u687.selected {
}
#u688 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u689 {
  position:absolute;
  left:413px;
  top:74px;
  width:305px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u691 {
  position:absolute;
  left:210px;
  top:135px;
  width:705px;
  height:95px;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u693 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u694 {
  position:absolute;
  left:69px;
  top:0px;
  width:522px;
  height:30px;
}
#u695 {
  position:absolute;
  left:2px;
  top:8px;
  width:518px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u696 {
  position:absolute;
  left:591px;
  top:0px;
  width:109px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u698 {
  position:absolute;
  left:0px;
  top:30px;
  width:69px;
  height:60px;
}
#u699 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:60px;
}
#u700 {
  position:absolute;
  left:69px;
  top:30px;
  width:522px;
  height:60px;
}
#u701 {
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u702 {
  position:absolute;
  left:591px;
  top:30px;
  width:109px;
  height:60px;
}
#u703 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
