body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:163px;
  top:123px;
  width:87px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:285px;
  top:119px;
  width:300px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:166px;
  top:317px;
  width:76px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:277px;
  top:313px;
  width:300px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:179px;
  top:211px;
  width:65px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:279px;
  top:204px;
  width:300px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:283px;
  top:61px;
  width:181px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:279px;
  top:241px;
  width:412px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u74_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u78 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u80 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u82 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u85_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u89 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u89_ann {
  position:absolute;
  left:436px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u91 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u91_ann {
  position:absolute;
  left:661px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u93 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:327px;
  top:397px;
  width:140px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
