body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460 {
  position:absolute;
  left:253px;
  top:175px;
  width:167px;
  height:16px;
}
#u461 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u460_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u462 {
  position:absolute;
  left:253px;
  top:246px;
  width:167px;
  height:16px;
}
#u463 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u462_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u464 {
  position:absolute;
  left:253px;
  top:212px;
  width:167px;
  height:16px;
}
#u465 {
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u464_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u466 {
  position:absolute;
  left:253px;
  top:282px;
  width:454px;
  height:176px;
}
#u466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:176px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:30px;
}
#u468_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u471 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u472 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u473 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u472_ann {
  position:absolute;
  left:436px;
  top:0px;
  width:1px;
  height:1px;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u474 {
  position:absolute;
  left:450px;
  top:0px;
  width:225px;
  height:30px;
}
#u475 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u474_ann {
  position:absolute;
  left:661px;
  top:0px;
  width:1px;
  height:1px;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u476 {
  position:absolute;
  left:675px;
  top:0px;
  width:225px;
  height:30px;
}
#u477 {
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u479 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:90px;
}
#u479_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u481_img.selected {
}
#u481.selected {
}
#u482 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u483 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u483_img.selected {
}
#u483.selected {
}
#u484 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u485 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u485_img.selected {
}
#u485.selected {
}
#u486 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:403px;
  top:522px;
  width:140px;
  height:40px;
}
#u488 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u490 {
  position:absolute;
  left:253px;
  top:100px;
  width:600px;
  height:30px;
}
#u490_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u492_img.selected {
}
#u492.selected {
}
#u493 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u494 {
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:30px;
}
#u494_img.selected {
}
#u494.selected {
}
#u495 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
